extends layout
- var title = "あああ"


block content
  .tmp tmp
  
  
  //- python like each
  each count in [1, 2, 3]
    p(value='count#{count}') #{count}個
  p(value='countMore') #{count}個以上
  
  //- 閉じタグ NG
    special:tag(option="1")/
    special:tag/(option="1")  
  
  
  //- インデントを省略
    p: しょうりゃく
  
  //- IEコンディショナルコメント
    //if !IE
        html lang="en"
    // <![endif]  
  
  
  //- for文
    - list = ['a','b','c']
    ul
      for item, index in list
        if(index % 2) == 0
          li.even= item
        else
          li.odd= item  
  
  
  //- htmlエスケープなし
    - iii = '<img src="saf" />'
    p
      = iii
    p
      != iii
    !p
      = iii
    p
      <img src="saf" />
    p
      | <img src="saf" />
    p
      |! <img src="saf" />
  
  //- hash
    - texts = {key1: 'Sample text', key2: 'Sample text2', key3: 'Sample text3'}
    .container
      ul
        for val, key in texts
          li #{key} / #{val}

  //-
    a(href="#", style="color:#398")
      | kgi
  
  //- 式展開
    = 3 + 6
  
  //- 変数
    - ooo = "おおお"
    div.idid(style="#{ooo}")
      | #{ooo}
  
  
  //- if文
    - al = "akid"
    = al
    p= al
    
    if al === "akid"
      | aaa
    else
      | bbb
    
    if al === ""
      | aaa
    else
      | bbb
  
  
  
  //- コメント
    インデントするだけで消滅する
  
  //-
    p grunt記念日
  
  //-
    p nisemono
    - var str = '<script href="sample.js"></script>'
    // エスケープ
    = str
    // 非エスケープ
    != str
  
  
  
  //-
    - var testes = "testes"
    p てす
    p(style="") てすと２
    p(style="")
    p てすと３
    // コメントアウト１
    p.aaa てすと4４
    // コメントアウト２
    #anokutara sdfsadf
    //
      div#suni.
        <a href="">lin</a>
    h1= title
    p
      | buntou
    p.
      bunto
    // コ メントアウト３
    //- コメントアウト４
    //-
      コメントアウト５
      コメントアウト５
      コメントアウト５
      コメントアウト５
    .aaa てすと５
    p= bobbob
    div= testes
    div= obje
    p tmptmp
    // jijiji
      .aa tmptmp
    .cc.
      ttt
      mmm
      pppp


//- 
  block tmp
    p tmptmp
    .aa tmptmp
    .cc.
      ttt
      mm
      ppp



